app = "apreferralv1"
primary_region = "sin"

[env]
  PORT = "8080"

[build]
  dockerfile = "Dockerfile"
 
[experimental]
  auto_rollback = true

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

#[deploy]
#  release_command = "python /app/app.py"
 
